# Ignore temporary files
*~
*#

# Ignore various binaries
*.exe
*.dll
*.so
*.dylib
*.lib

# Ignore VS project files we don't need
.vs/
*.vcxproj.user
vssver.scc

# Ignore intermediate files on Windows
*.idb
*.ilk
*.pdb
*.map
*.tmp
*.exp
*.bsc
*.obj
*.log
*.pch
*.backup
Debug/
Release/
Release WinXP/
Lib/
Lib64/
*.tlog/

# Ignore intermediate files on Linux
*.lo
*.o
*.la
*.pc
